.interests-info__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.interests-info__label {
    color: #000;
    background-color: #fff;
    line-height: 150%;
    font-size: 10px;
    padding: 4px 10px;
    border-radius: 40px;
}